.disable-overflow {
    overflow: hidden;
}


@media screen and (min-width: 768px) {
    header h1 {
        font-size: 2rem;
        font-family: 'Orbitron', sans-serif;
        font-weight: 200;
        letter-spacing: 0.2rem;
        text-align: center;

    }

    .modal {
        position: fixed;
        overflow: hidden !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        scrollbar-gutter: auto;

    }

    .catSection {
        min-width: 100%;
    }

    .scrollable-content {
        padding: 1rem;

    }

    .modal-content h1 {
        font-family: 'Orbitron', sans-serif;
        font-weight: 200;
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
    }

    .modal-content {
        background: rgba(0, 0, 0, 0.8);
        box-shadow: 0 1px 20px 2px var(--icon);
        text-align: center;
        max-width: 75%;
        position: relative;
        padding: 5rem 6rem;
        margin: 1rem;
        border-radius: 0.75rem;
        overflow-y: auto;
        scrollbar-gutter: auto;
        max-height: 75%;
        transform: translateY(100%);
    }

    .modal-content section {
        line-height: 1.5;
        font-size: 1.3rem;
        font-weight: 200;
        font-family: 'Poppins', sans-serif;
    }

    .close-button {
        max-height: max-content;
        font-size: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    }

    .close-button:hover {
        background: rgba(92, 204, 201, 0.2);
    }

    .shortDesc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        opacity: 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        letter-spacing: 0.1rem;
        text-align: center;
        white-space: nowrap;

    }

    .shortDesc span {
        padding: 0.5rem;
        border-radius: 0.2rem;
    }

    .navImage {
        height: 120px;
        z-index: -1;
        user-select: none;
    }

    .navbar {
        display: flex;
        justify-content: center;
        margin-top: 6vh;
    }

    .text1, .text2 {
        color: var(--cat-text);
        letter-spacing: 0.3rem;
        font-family: 'Orbitron', sans-serif;
        font-weight: 500;
        font-size: 3.7rem;

    }

    .text1 {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        transform-origin: center;
    }

    .text2 {
        writing-mode: vertical-rl;
    }

    .categories {
        display: flex;
        justify-content: center;
        margin-top: 10vh;
    }

    .subCat {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        justify-content: center;

    }

    .icon {
        position: relative;
        border-radius: 2rem;
        border: 1px solid var(--cat-border);
        width: calc(17% - 1rem);
        padding-top: 0.6rem;
        font-size: 6rem;
        text-align: center;
    }

    .icon:hover {
        cursor: pointer;
    }

    .labelText {
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }

    .detailsButton {

        display: flex;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        letter-spacing: 0.2rem;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 2px;
        cursor: pointer;
        max-width: max-content;
        margin: 3vh auto;
    }

    .contactUs {
        margin-top: 10vh;
        margin-left: 8rem;
        margin-right: 8rem;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }

    .subContact {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: nowrap;
    }

    .down {
        font-size: 2rem;
        text-align: center;
        transition: all 300ms linear;
        max-width: max-content;
        margin: 2rem auto;

    }

    .down:hover {
        cursor: pointer;
        padding: 0.5rem;
        transition: all 200ms linear;
    }

    .location {

        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin: 4rem auto;
        max-width: 800px;
    }

    .register {
        display: flex;
        justify-content: center;
        margin-top: 10vh;
    }

    button {
        font-size: 2rem;
        border: none;
        background: transparent;
        border-radius: 0.5rem;
        padding: 10px 20px;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.2rem;
        font-weight: 200;
    }

    button:hover {
        background: #091B25;
        mix-blend-mode: lighten;
        cursor: pointer;
    }

    .btn-two {
        color: #FFF;
        transition: all 0.5s;
        position: relative;
    }

    .btn-two span {
        z-index: 2;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .btn-two::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.5s;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.1);
    }

    .btn-two::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.5s;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.1);
    }

    .btn-two:hover::before {
        transform: rotate(-45deg);
        background-color: rgba(255, 255, 255, 0);
    }

    .btn-two:hover::after {
        transform: rotate(45deg);
        background-color: rgba(255, 255, 255, 0);
    }

    .contactUs h1 {
        text-align: center;
        font-weight: 200;
        font-size: 3rem;
        letter-spacing: 0.2rem;
        font-family: 'Poppins', sans-serif;
    }

    h3 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
    }

}

@media screen and (max-width: 768px) {
    .disable-overflow {
        overflow: hidden;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;

    }

    .modal-content {
        background: rgba(0, 0, 0, 0.35);
        box-shadow: 0 1px 20px 2px var(--icon);
        text-align: center;
        max-width: 90%;
        position: relative;
        padding: 2rem 1rem;
        margin: 1rem;
        max-height: 80%;
        border-radius: 0.3rem;
        overflow-y: auto;
        transform: translateY(100%);

    }

    .modal-content h1 {
        font-size: 1.5rem;
        font-family: 'Orbitron', sans-serif;
        font-weight: 200;
        letter-spacing: 0.2rem;
        text-align: center;
    }

    .modal-content section {
        font-size: 1rem;
        font-weight: 200;
        font-family: 'Poppins', sans-serif;
    }

    .close-button {
        color: white;
        max-height: max-content;
        font-size: 2rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    .close-button:hover {
        background: rgba(92, 204, 201, 0.2);
    }

    header h1 {
        font-size: 1rem;
        font-family: 'Orbitron', sans-serif;
        font-weight: 200;
        letter-spacing: 0.2rem;
        text-align: center;
    }

    .categories {
        margin-top: 1rem;
    }

    .navImage {
        height: 50px;
        z-index: -1;
        user-select: none;
        margin: auto;

    }

    .navbar {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
    }

    .text1, .text2 {
        color: var(--cat-text);
        letter-spacing: 0.3rem;
        font-family: 'Orbitron', sans-serif;
        font-weight: 500;
        font-size: 2rem;
        text-align: center;

    }


    .text2 {
        writing-mode: horizontal-tb;
        transform: ScaleY(-1);
    }


    .subCat {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        text-align: center;
    }

    .contactUs {
        text-align: center;
        font-weight: 200;
        font-family: 'Poppins', sans-serif;
    }

    .contactUs h1 {
        text-align: center;
        font-weight: 200;
        font-family: 'Poppins', sans-serif;
    }

    .icon {
        border-radius: 2rem;
        border: 1px solid var(--cat-border);
        min-width: 25%;
        max-width: 25%;
        padding: 1rem;
        font-size: 2rem;
        width: 25%;
        max-height: max-content;
        text-align: center;
        position: relative;
        margin: 1rem;
    }


    .labelText {
        font-size: 0.75rem;
        font-weight: 400;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }

    .detailsButton {
        margin-top: 5vh;
        display: flex;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 2rem;
        margin-bottom: 3rem;
        letter-spacing: 0.2rem;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 2px;
        cursor: pointer;
    }


    .subContact {
        display: flex;
        justify-content: center;
        gap: 2rem;
        font-size: 1rem;
        flex-wrap: wrap;
    }

    .subContact h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

    .down {
        font-size: 2rem;
        text-align: center;
        transition: all 300ms linear;
        max-width: max-content;
        margin: -2rem auto;

    }

    .down:hover {
        cursor: pointer;
        padding: 0.5rem;
        transition: all 200ms linear;
    }

    .location {
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding: 1rem;
        line-height: 2rem;
        font-weight: 300;
        letter-spacing: 0.12rem;
        margin: 4rem auto;
        max-width: 540px;
    }

    button {

        font-size: 1rem;
        border: none;
        background: transparent;
        border-radius: 0.5rem;
        padding: 10px 20px;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.2rem;
        font-weight: 200;

    }

    .register {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }

    button:hover {
        background: #091B25;
        mix-blend-mode: lighten;

    }

    .btn-two {
        color: #FFF;
        transition: all 0.5s;
        position: relative;
    }

    .btn-two span {
        z-index: 2;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .btn-two::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.5s;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.1);
    }

    .btn-two::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.5s;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.1);
    }

    .btn-two:hover::before {
        transform: rotate(-45deg);
        background-color: rgba(255, 255, 255, 0);
    }

    .btn-two:hover::after {
        transform: rotate(45deg);
        background-color: rgba(255, 255, 255, 0);
    }

    .shortDesc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.7rem;
        opacity: 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        letter-spacing: 0.1rem;
        text-align: center;
        white-space: nowrap;

    }

    h3 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
    }
}