:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #10303F, #091B25, #050A0E);
    height: 100vh;
    background-repeat: no-repeat;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
